<ul class="list-unstyled components mb-5">
  <li class="active">
    <a href="/"><span class="fa fa-home mr-3"></span> Home</a>
  </li>
  <li>
    <a href="/geneExpAtlas/"><span class="fa fa-line-chart mr-3"></span> geneExpAtlas</a>
  </li>
  <li>
    <a href="/blastplus/blastn/"><span class="fa fa-align-justify mr-3"></span> Blast</a>
  </li>
  <li>
    <a href="/geneAnno/"><span class="fa fa-info-circle mr-3"></span> geneAnno</a>
  </li>
  <li>
    <a href="/igv/"><span class="fa fa-list-alt mr-3"></span> GBrowse</a>
  </li>
  <li>
    <a href="/tools/"><span class="fa fa-cogs mr-3"></span> Tools</a>
  </li>
  <li>
    <a href="/about/"><span class="fa fa-paper-plane mr-3"></span> About</a>
  </li>
  <li>
    <a href="/download/"><span class="fa fa-download mr-3"></span> Download</a>
  </li>
</ul>
