{% load static %}
<div class="footer">
    <hr>
    <p id="partnerImages" class="text-center">
			
        <a target="_blank" href="http://jcdb.xtbg.ac.cn" title="Jatropha curca database"><img src="{% static 'home/img/link2jcdb.png' %}"></a>
        <a target="_blank" href="http://www.kazusa.or.jp/jatropha/" title="Jatropha Genome Database"><img src="{% static 'home/img/Jcur.png' %}"></a>
    </p>
    <p class="text-center">
        © <a target="_blank" href="http://mbep.groups.xtbg.ac.cn/">MBEP Group of XTBG</a>, All Rights Reserved. Any comments and suggestions, please <a href="mailto:chenwen@biochen.com"><span class="oi oi-envelope-closed"></span>E-mail</a> us.
    </p>
    <div class="text-center">
        <ul class="list-inline">
            <li>
                <a target="_blank" href="http://tprsu.xtbg.ac.cn/"><img id="footimg" class="img-responsive" src="{% static "home/img/TPR.png" %}" /></a>
            </li>
            <li>
                <a target="_blank" href="http://english.xtbg.cas.cn/"><img id="footimg" class="img-responsive" src="{% static "home/img/XTBG.png" %}"></a>
            </li>
            <li>
                <a target="_blank" href="http://english.cas.cn/"><img id="footimg" class="img-responsive" src="{% static "home/img/CAS.png" %}"></a>
            </li>
        </ul>
    </div>
</div>
